/*--------------------------
          共通  
--------------------------*/
@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Poppins, Myriad Pro, Dosis, Helvetica Neue, Helvetica, Arial, Verdana, Roboto,
    "游ゴシック", Yu Gothic, "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3",
    Hiragino Kaku Gothic Pro, Meiryo UI, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    MS PGothic, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/*--------------------------
          header  
--------------------------*/
header {
  height: 620px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 40px;

  // 背景をグレーアウト（メニュー表示時に使用）
  .gray-out {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
  }

  .gray-out.active {
    visibility: visible;
    opacity: .9;
    transition: all .6s;

  }

  .top-bar {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-top {
      width: 960px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 36px;
      color: #FFFFFF;

      /* ハンバーガーボタン */
      .hamburger {
        display: block;
        position: relative;
        z-index: 4;
        width: 42px;
        height: 42px;
        cursor: pointer;
        text-align: center;

        span {
          display: block;
          position: absolute;
          width: 30px;
          height: 1px;
          right: 0px;
          background-color: #FFFFFF;
          transition: 0.3s ease-in-out;
        }

        span:nth-child(1) {
          top: 10px;
        }

        span:nth-child(2) {
          top: 20px;
        }

        span:nth-child(3) {
          top: 30px;
        }
      }

      .hamburger.active {

        /* ナビ開いてる時のボタン */
        span:nth-child(1) {
          top: 20px;
          right: 0;
          transform: rotate(45deg);
        }

        span:nth-child(2) {
          top: 20px;
          right: 0;
          transform: rotate(-45deg);
        }

        span:nth-child(3) {
          top: 20px;
          right: 0;
          transform: rotate(45deg);
        }
      }

    }

    nav.globalMenuSp {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      background: #fff;
      text-align: center;
      transform: translateY(-100%);
      transition: all 0.3s;
      width: 100%;


      ul {
        background: #ccc;
        margin: 0 auto;
        padding: 0;
        width: 100%;

        li {
          list-style-type: none;
          padding: 0;
          width: 100%;
          border-bottom: 1px solid #fff;

          a {
            display: block;
            color: #FFFFFF;
            padding: 2rem 0;
            font-family: Poppins;
            font-size: 1.5rem;
            text-shadow: 1px 1px #A0A0A0;
          }
        }

        li:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }

        li:hover {
          background: #ddd;
        }
      }
    }

    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
      transform: translateY(0%);
    }
  }

  // スクロール時にtop-barに付与してヘッダーを固定する
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color:rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 1px 1px rgba($color: #AAAAAA, $alpha: 0.3);
    transition: all 1.2s;
    .header-top{
      .logo{
      color: #2B2B2B;
    }
    .hamburger{
      span{
      background-color: #2B2B2B;
    }
    }
    }
    
    
  }

  .titles {
    position: absolute;
    top: 240px;
    left: 0;
    width: 100%;
    justify-content: center;

    .title {
      text-align: center;
      height: 120px;
      font-size: 100px;
      line-height: 100px;
      letter-spacing: 2px;
      color: #FFFFFF;
    }

    .sub-title {
      text-align: center;
      margin: 0 auto;
      height: 16px;
      font: 16px/16px Hiragino Kaku Gothic ProN;
      color: #FFFFFF;

      &::before {
        content: "-";
        color: #FFFFFF;
      }

      &::after {
        content: "-";
        color: #FFFFFF;
      }
    }
  }
}

main {
  h1 {
    padding-top: 80px;
    font: bold 36px/55px Poppins;
  }

  .partition {
    display: inline-block;
    height: 24px;
    width: 40px;
    border-bottom: 1px solid #707070;
  }

  p {
    margin: 32px auto 40px;
    width: 100%;
    font: 16px/26px Myriad Pro;
    letter-spacing: 0px;
    color: #2B2B2B;
  }
}

/*--------------------------
          Concept  
--------------------------*/
#concept {
  width: 100%;
  position: relative;

  .container {
    margin: 0 auto;
    width: 960px;
    text-align: center;
    padding-bottom: 102px;

    img {
      position: relative;
      z-index: 1;
      width: 100%;
    }
  }

  .band {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 240px;
    width: 100%;
    background-color: #EDEDED;
  }

}

/*--------------------------
          Work  
--------------------------*/
@media screen and (min-width: 980px) {
  #work {
    width: 100%;
    text-align: center;

    .container {
      margin: 0 auto;
      width: 960px;

      .gallery {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .column-left,
        .column-right {
          width: 420px;

        }

        .column-right {
          padding-top: 120px;
        }
      }
    }
  }
}

#work .gallery {

  h2 {
    margin-top: 16px;
    text-align: left;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.7;
  }

  p {
    margin: 0px 0 80px;
    text-align: left;
    font: 16px/28px Myriad Pro;
    color: #2B2B2B;
  }
}

/*--------------------------
          Florist  
--------------------------*/
#florist {
  width: 100%;
  text-align: center;
  position: relative;

  .band {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 374px;
    width: 100%;
    background-color: #EDEDED;
  }

  .container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 960px;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        width: 300px;
        text-align: left;

        h2 {
          margin: 12px auto;
          font-size: 24px;
        }

        p {
          margin: 0 auto 40px;
          color: #2B2B2B;
        }

      }

    }

  }
}

/*--------------------------
       Shop Information  
--------------------------*/
#shop {
  width: 100%;
  text-align: center;
  padding-bottom: 120px;

  .container {
    margin: 0 auto;
    width: 960px;

    .shop-wrapper {
      display: flex;
      justify-content: space-between;

      .table-wrapper {
        width: 432px;
        height: 320px;

        table {
          line-height: 1.5rem;
          text-align: left;
          margin: 20px auto auto 40px;
          border-collapse: separate;
          border-spacing: 12px;
          font-family: Myriad Pro, sans-serif;

          th {
            height: auto;
            width: 30%;
            font-weight: normal;
            border-right: 2px solid #A0A0A0;
          }

          td {
            padding-bottom: 16px;
          }
        }
      }
    }
  }
}

/*--------------------------
       Contact  
--------------------------*/
#contact {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/contact_us.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 450px;
  text-align: center;

  .button {
    position: relative;
    width: 360px;
    height: 80px;
    margin: 0 auto;
    padding-left: 30px;
    background-color: #FFFFFF;
    border: 1px solid #A0A0A0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .button::before {
    content: '';
    position: absolute;
    top: 29px;
    left: 79px;
    width: 30px;
    height: 20px;
    border: 1px solid #707070;
  }

  .button::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 84px;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #707070;
    border-right: 1px solid #707070;
    transform: rotate(45deg);
  }
}


/*--------------------------
          footer 
--------------------------*/
footer {
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #2B2B2B;
  }
}

/*--------------------------
      画面幅 980px未満
--------------------------*/
@media screen and (max-width: 979px) {
  body{
    font-size: 14px;
  }
  header {

    .top-bar{
      height: 3rem;
      
      .header-top {
        padding-left: 10px;
        padding-right: 10px;
        .logo{
          font-size: 1.5rem;
        }
      }
    }
    .title {
      font-size: 5rem;
    }
  }

  main {
    h1 {
      font-size: 32px;
    }

    #concept,
    #work,
    #florist,
    #shop,
    #contact {
      .container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
      }

    }

    #concept {
      .container {
        padding-bottom: 10vw;
      }

      .band {
        height: 40vw;
      }
    }

    #work {
      text-align: center;

      .container .gallery {
        display: flex;
        margin: 0 auto;
        padding: 0;
        overflow-x: auto;
        /* 横スクロールの指定 */

        .column-left,
        .column-right {
          display: flex;
        }

        .wedding,
        .decoration,
        .for_yourself {
          margin-left: 20px;
        }

        .works {
          width: 256px;
          height: 512px;
          text-align: left;

          img {
            width: 256px;
            height: 256px;
            object-fit: cover;
          }

          p {
            width: 256px;
            margin-bottom: 0;
          }
        }
      }
    }

    #florist {
      ul {
        display: flex;
        overflow-x: auto;

        li {
          margin-right: 20px;
        }
      }

    }

    #shop {
      padding-bottom: 60px;

      .container .shop-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 100%;
          // height: 320px;
          object-fit: cover;
        }

        .table-wrapper {
          width: 100%;

          table {
            margin: 20px auto;
          }
        }
      }
    }

    #contact {
      .button {
        padding-left: 0;
        padding-bottom: 28px;
        width: 202px;
        height: 90px;

      }

      .button::before {
        top: 53px;
        left: 86px;
      }

      .button::after {
        top: 44px;
        left: 91px;
      }
    }
  }
}