/*--------------------------
          共通  
--------------------------*/
@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Dosis, Helvetica Neue, Helvetica, Arial, Verdana, Roboto,
    "游ゴシック", Yu Gothic, "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3",
    Hiragino Kaku Gothic Pro, Meiryo UI, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    MS PGothic, sans-serif;
  font-size: 16px;

}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/*--------------------------
          header  
--------------------------*/
header {
  margin: 0;
  height: 620px;
  width: 100%;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;

  .header-top {
    position: fixed;
    margin-top: 40px;
    width: 960px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    font: 36px/50px Myriad Pro;
    color: #FFFFFF;

    /*　ハンバーガーボタン　*/
    .hamburger {
      //display: flex;
      // position: fixed;
       z-index: 3;
      right: 160px;
      width: 42px;
      height: 42px;
      cursor: pointer;
      text-align: center;
    }

    .hamburger span {
      display: block;
      position: relative;
      width: 30px;
      height: 1px;
      left: 6px;
      background: #FFFFFF;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }

    .hamburger span:nth-child(1) {
      top: 10px;
    }

    .hamburger span:nth-child(2) {
      top: 20px;
    }

    .hamburger span:nth-child(3) {
      top: 30px;
    }

    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
      top: 16px;
      left: 6px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
      top: 16px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    nav.globalMenuSp {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      color: #000;
      background: #fff;
      text-align: center;
      transform: translateX(100%);
      transition: all 0.6s;
      width: 100%;
    }

    nav.globalMenuSp ul {
      background: #ccc;
      margin: 0 auto;
      padding: 0;
      width: 100%;
    }

    nav.globalMenuSp ul li {
      list-style-type: none;
      padding: 0;
      width: 100%;
      border-bottom: 1px solid #fff;
    }

    nav.globalMenuSp ul li:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    nav.globalMenuSp ul li:hover {
      background: #ddd;
    }

    nav.globalMenuSp ul li a {
      display: block;
      color: #000;
      padding: 1em 0;
      text-decoration: none;
    }

    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
      transform: translateX(0%);
    }

  }

  .title {
    position: absolute;
    top: 240px;
    height: 120px;
    font: 100px/100px Myriad Pro;
    color: #FFFFFF;
  }

  .sub-title {
    position: absolute;
    top: 360px;
    height: 16px;
    font: 16px/16px Hiragino Kaku Gothic ProN;
    color: #FFFFFF;

    &::before {
      content: "-";
      color: #FFFFFF;

    }

    &::after {
      content: "-";
      color: #FFFFFF;

    }
  }
}

main {
  position: absolute;
  top: 700px;
  right: 0;
  width: 100%;
/*--------------------------
          Concept  
--------------------------*/
  .concept {
    width: 100%;
    height: 720px;

    .container{
      margin: 0 auto;
      width: 960px;
      text-align: center;
      h1{
        font: bold 36px/55px Poppins;
      }
      .partition{
        display: inline-block;
        height: 24px;
        width: 40px;
        border-bottom: 1px solid #333333;
      }
      p{
        margin: 32px 192px 40px 192px;
        width: 576px;
        font: 16px/22px Myriad Pro;
        letter-spacing: 0px;
        color: #2B2B2B;
      }
      img{
        position: relative;
        z-index: 2;
      }
    }
    .band{
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      height: 240px;
      width: 100%;
      background-color: #EDEDED;

    }

  }
}