@charset "UTF-8";
/*--------------------------
          共通  
--------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
  font-family: Dosis, Helvetica Neue, Helvetica, Arial, Verdana, Roboto, "游ゴシック", Yu Gothic, "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, Meiryo UI, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", MS PGothic, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/*--------------------------
          header  
--------------------------*/
header {
  height: 620px;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header .header-top {
  position: absolute;
  top: 40px;
  left: 12.5vh;
  width: 75vw;
  height: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font: 36px/50px Myriad Pro;
  color: #FFFFFF;
  /*　ハンバーガーボタン　*/
  /* ナビ開いてる時のボタン */
  /* このクラスを、jQueryで付与・削除する */
}

header .header-top .hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 160px;
  top: 40px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

header .header-top .hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 1px;
  left: 6px;
  background: #FFFFFF;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .header-top .hamburger span:nth-child(1) {
  top: 10px;
}

header .header-top .hamburger span:nth-child(2) {
  top: 20px;
}

header .header-top .hamburger span:nth-child(3) {
  top: 30px;
}

header .header-top .hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header .header-top .hamburger.active span:nth-child(2),
header .header-top .hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .header-top nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #000;
  background: #fff;
  text-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  width: 100%;
}

header .header-top nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

header .header-top nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

header .header-top nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

header .header-top nav.globalMenuSp ul li:hover {
  background: #ddd;
}

header .header-top nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration: none;
}

header .header-top nav.globalMenuSp.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .title {
  position: absolute;
  top: 240px;
  left: 12.5vh;
  width: 75vw;
  height: 120px;
  text-align: center;
  font: 100px/100px Myriad Pro;
  color: #FFFFFF;
}

header .sub-title {
  position: absolute;
  left: 12.5vh;
  width: 75vw;
  top: 360px;
  height: 16px;
  text-align: center;
  font: 16px/16px Hiragino Kaku Gothic ProN;
  color: #FFFFFF;
}

header .sub-title::before {
  content: "-";
  color: #FFFFFF;
}

header .sub-title::after {
  content: "-";
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */