@charset "UTF-8";
/*--------------------------
          共通  
--------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
  font-family: Dosis, Helvetica Neue, Helvetica, Arial, Verdana, Roboto, "游ゴシック", Yu Gothic, "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, Meiryo UI, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", MS PGothic, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/*--------------------------
          header  
--------------------------*/
header {
  margin: 0;
  height: 620px;
  width: 100%;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-top {
  position: fixed;
  margin-top: 40px;
  width: 960px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font: 36px/50px Myriad Pro;
  color: #FFFFFF;
  /*　ハンバーガーボタン　*/
  /* ナビ開いてる時のボタン */
  /* このクラスを、jQueryで付与・削除する */
}

header .header-top .hamburger {
  z-index: 3;
  right: 160px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

header .header-top .hamburger span {
  display: block;
  position: relative;
  width: 30px;
  height: 1px;
  left: 6px;
  background: #FFFFFF;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .header-top .hamburger span:nth-child(1) {
  top: 10px;
}

header .header-top .hamburger span:nth-child(2) {
  top: 20px;
}

header .header-top .hamburger span:nth-child(3) {
  top: 30px;
}

header .header-top .hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header .header-top .hamburger.active span:nth-child(2),
header .header-top .hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .header-top nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #000;
  background: #fff;
  text-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  width: 100%;
}

header .header-top nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

header .header-top nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

header .header-top nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

header .header-top nav.globalMenuSp ul li:hover {
  background: #ddd;
}

header .header-top nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration: none;
}

header .header-top nav.globalMenuSp.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .title {
  position: absolute;
  top: 240px;
  height: 120px;
  font: 100px/100px Myriad Pro;
  color: #FFFFFF;
}

header .sub-title {
  position: absolute;
  top: 360px;
  height: 16px;
  font: 16px/16px Hiragino Kaku Gothic ProN;
  color: #FFFFFF;
}

header .sub-title::before {
  content: "-";
  color: #FFFFFF;
}

header .sub-title::after {
  content: "-";
  color: #FFFFFF;
}

main {
  position: absolute;
  top: 620px;
  left: 0;
  width: 100%;
  /*--------------------------
          Concept  
--------------------------*/
  /*--------------------------
          Work  
--------------------------*/
  /*--------------------------
          Florist  
--------------------------*/
}

main h1 {
  margin-top: 80px;
  font: bold 36px/55px Poppins;
}

main .partition {
  display: inline-block;
  height: 24px;
  width: 40px;
  border-bottom: 1px solid #707070;
}

main p {
  margin: 32px auto 40px;
  width: 100%;
  font: 16px/26px Myriad Pro;
  letter-spacing: 0px;
  color: #2B2B2B;
}

main .concept {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
}

main .concept .container {
  margin: 0 auto;
  width: 960px;
  text-align: center;
}

main .concept .container img {
  position: relative;
  z-index: 1;
}

main .concept .band {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 240px;
  width: 100%;
  background-color: #EDEDED;
}

main .work {
  position: absolute;
  top: 800px;
  left: 0;
  width: 100%;
  text-align: center;
}

main .work .container {
  margin: 0 auto;
  width: 960px;
}

main .work .container .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .work .container .gallery .column-left, main .work .container .gallery .column-right {
  width: 420px;
}

main .work .container .gallery .column-left h2, main .work .container .gallery .column-right h2 {
  margin-top: 16px;
  text-align: left;
  font: bold 24px/40px Poppins;
}

main .work .container .gallery .column-left p, main .work .container .gallery .column-right p {
  margin: 0px 0 80px;
  text-align: left;
  font: 16px/28px Myriad Pro;
  color: #2B2B2B;
}

main .work .container .gallery .column-right img:first-of-type {
  margin-top: 120px;
}

main .florist {
  position: absolute;
  top: 2707px;
  left: 0;
  width: 100%;
  text-align: center;
}

main .florist .band {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 374px;
  width: 100%;
  background-color: #EDEDED;
}

main .florist .container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 960px;
}

main .florist .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .florist .container ul li {
  width: 300px;
  text-align: left;
}

main .florist .container ul li h2 {
  margin: 12px auto;
  font-size: 24px;
}

main .florist .container ul li p {
  margin: 0 auto 40px;
  color: #2B2B2B;
}
/*# sourceMappingURL=style.css.map */