/*--------------------------
          共通  
--------------------------*/
@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: Myriad Pro, Dosis, Helvetica Neue, Helvetica, Arial, Verdana, Roboto,
    "游ゴシック", Yu Gothic, "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3",
    Hiragino Kaku Gothic Pro, Meiryo UI, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    MS PGothic, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/*--------------------------
          header  
--------------------------*/
header {
  margin: 0;
  height: 620px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),url("../img/header.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;

  .header-top {
    position: fixed;
    margin-top: 40px;
    width: 960px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    font: 36px/50px Myriad Pro;
    color: #FFFFFF;

    /*　ハンバーガーボタン　*/
    .hamburger {
      //display: flex;
      // position: fixed;
      z-index: 3;
      right: 160px;
      width: 42px;
      height: 42px;
      cursor: pointer;
      text-align: center;
    }

    .hamburger span {
      display: block;
      position: relative;
      width: 30px;
      height: 1px;
      left: 6px;
      background: #FFFFFF;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }

    .hamburger span:nth-child(1) {
      top: 10px;
    }

    .hamburger span:nth-child(2) {
      top: 20px;
    }

    .hamburger span:nth-child(3) {
      top: 30px;
    }

    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
      top: 16px;
      left: 6px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
      top: 16px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    nav.globalMenuSp {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      color: #000;
      background: #fff;
      text-align: center;
      transform: translateX(100%);
      transition: all 0.6s;
      width: 100%;
    }

    nav.globalMenuSp ul {
      background: #ccc;
      margin: 0 auto;
      padding: 0;
      width: 100%;
    }

    nav.globalMenuSp ul li {
      list-style-type: none;
      padding: 0;
      width: 100%;
      border-bottom: 1px solid #fff;
    }

    nav.globalMenuSp ul li:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    nav.globalMenuSp ul li:hover {
      background: #ddd;
    }

    nav.globalMenuSp ul li a {
      display: block;
      color: #000;
      padding: 1em 0;
      text-decoration: none;
    }

    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
      transform: translateX(0%);
    }

  }

  .title {
    position: absolute;
    top: 240px;
    height: 120px;
    font: 100px/100px Myriad Pro;
    color: #FFFFFF;
  }

  .sub-title {
    position: absolute;
    top: 360px;
    height: 16px;
    font: 16px/16px Hiragino Kaku Gothic ProN;
    color: #FFFFFF;

    &::before {
      content: "-";
      color: #FFFFFF;

    }

    &::after {
      content: "-";
      color: #FFFFFF;

    }
  }
}

main {
  position: absolute;
  top: 620px;
  left: 0;
  width: 100%;
  flex: 1;
  h1 {
    margin-top: 80px;
    font: bold 36px/55px Poppins;
  }

  .partition {
    display: inline-block;
    height: 24px;
    width: 40px;
    border-bottom: 1px solid #707070;
  }

  p {
    margin: 32px auto 40px;
    width: 100%;
    font: 16px/26px Myriad Pro;
    letter-spacing: 0px;
    color: #2B2B2B;
  }

  /*--------------------------
          Concept  
--------------------------*/
  .concept {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;

    .container {
      margin: 0 auto;
      width: 960px;
      text-align: center;

      img {
        position: relative;
        z-index: 1;
      }
    }

    .band {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      height: 240px;
      width: 100%;
      background-color: #EDEDED;
    }

  }

  /*--------------------------
          Work  
--------------------------*/
  .work {
    position: absolute;
    top: 800px;
    left: 0;
    width: 100%;
    text-align: center;

    .container {
      margin: 0 auto;
      width: 960px;

      .gallery {
        display: flex;
        justify-content: space-between;

        .column-left,
        .column-right {
          width: 420px;

          h2 {
            margin-top: 16px;
            text-align: left;
            font: bold 24px/40px Poppins;
          }

          p {
            margin: 0px 0 80px;
            text-align: left;
            font: 16px/28px Myriad Pro;
            color: #2B2B2B;
          }
        }

        .column-right img:first-of-type {
          margin-top: 120px;
        }
      }
    }
  }

  /*--------------------------
          Florist  
--------------------------*/
  .florist {
    position: absolute;
    top: 2707px;
    left: 0;
    width: 100%;
    text-align: center;

    .band {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      height: 374px;
      width: 100%;
      background-color: #EDEDED;
    }

    .container {
      position: relative;
      z-index: 1;
      margin: 0 auto;
      width: 960px;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          width: 300px;
          text-align: left;

          h2 {
            margin: 12px auto;
            font-size: 24px;
          }

          p {
            margin: 0 auto 40px;
            color: #2B2B2B;
          }

        }

      }

    }
  }

  /*--------------------------
          Shop Information  
--------------------------*/
  .shop {
    position: absolute;
    top: 3358px;
    left: 0;
    width: 100%;
    text-align: center;

    .container {
      margin: 0 auto;
      width: 960px;

      .shop-wrapper {
        display: flex;
        justify-content: space-between;

        .table-wrapper {
          width: 432px;
          height: 320px;

          table {
            line-height: 1.5rem;
            text-align: left;
            margin: 20px auto auto 40px;
            border-collapse: separate;
            border-spacing: 12px;
            font-family: Myriad Pro , sans-serif;

            th {
              height: auto;
              width: 30%;
              font-weight: normal;
              border-right: 2px solid #A0A0A0;

            }

            td {
              padding-bottom: 16px;

              // margin: 0 auto 16px 16px;
            }
          }
        }
      }
    }
  }


  .contact{
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url("../img/contact_us.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 4044px;
    left: 0;
    width: 100%;
    height: 450px;
    text-align: center;
    .button{
      position:relative;
      width: 360px;
      height: 80px;
      margin: 0 auto;
      padding-left: 30px;
      background-color: #FFFFFF;
      border: 1px solid #A0A0A0;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .button::before{
      content: '';
      position:absolute;
      top: 29px;
      left: 79px;
      width: 30px;
      height: 20px;
      border: 1px solid #707070;
    }
    .button::after{
      content: '';
      position:absolute;
      top: 20px;
      left: 84px;
      width: 20px;
      height: 20px;
      border-bottom: 1px solid #707070;
      border-right: 1px solid #707070;
      transform: rotate(45deg);
    }
  }
}
  /*--------------------------
          footer 
--------------------------*/
footer{
  position: absolute;
  z-index: 1;
  top: 5140px;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #2B2B2B;
}